p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}
hr {
  height: 1px !important;
}
h4 {
  border-bottom: 1px solid #919699  !important;
    padding-bottom: 1px !important;
}
div.sourceCode {
    overflow-x: auto;
    line-height: 1;
}