
/* general */
p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
  overflow-y: scroll;
  max-height: 50vh;
}
pre code {
  white-space: inherit;
}
hr {
  height: 1px !important;
}
h4 {
  border-bottom: 1px solid #919699  !important;
    padding-bottom: 1px !important;
}

/* tables */

.book .book-body .page-wrapper .page-inner section.normal table{
        font-size: .85em !important;
        line-height: 1;
        width: fit-content !important;
        max-width: 25vh;
        overflow-wrap: normal;
        
}

.book .book-body .page-wrapper .page-inner section.normal table tr:nth-child(2n) {
    background-color: transparent !important;
}

.pagedtable-header-name {
    overflow: visible;
    text-overflow: initial;
}

.pagedtable-wrapper {
  border: none !important;
  margin-bottom: 10px;
}


/* code chunks */

div.sourceCode {
    overflow-x: auto;
    line-height: 1;
    overflow-y: visible;
}
pre.sourceCode {
    height: fit-content !important;
}

/* leaflet */
.book .book-body .page-wrapper .page-inner section.normal hr {
    -webkit-margin-before: 0.5em;
    -webkit-margin-after: 0.5em;
    -webkit-margin-start: auto;
    -webkit-margin-end: auto;
}
